:root{
    --default-font: Open Sans;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }


.nav-menu{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    font-family: var(--default-font);
    font-size: 24px;
    color:black;
}
.title{
    font-family: var(--default-font);
    text-align: center;
    font-size: 32px;
}
.catalog-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}
.catalog-item img, .latest-product img{
    width: 250px;
}

.latest-products{
    display: flex;
    justify-content: space-around;
}
.latest-product{
    align-items: center;
    margin:0 15px;
}

.catalog-item p, .latest-product p{
    font-size: 20px;
    text-align: center;
}

